*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
  font-family: Helvetica;
  line-height: 1.4em;
}

a{
  color: blueviolet;
  text-decoration: none;
}
.App{
  max-width:1140px;
  margin:auto;
  border:2px #f3f3f3 solid;
 

}
header{
 background-color: rgb(58, 56, 56);
  border-bottom:2px #c3c3c3 solid;
  color:white;
}
